# exclude node_modules folders inside the subfolders
# Ignore node_modules folders inside the subfolders
**/node_modules

# Ignore build artifacts
**/build

# Ignore test coverage reports
**/coverage

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore local environment files
.env
.env.*

# Ignore secrets
*.secret

.next

./nats-test